.nav-bar{
    box-shadow: 0 6px 9px -2px gray;
    background-color: #ffff;
    display: flex;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    
}

.nav-bar img{
    height: 60px;
    padding: 0;
    margin: 0;
}
.links{
    margin-left: 5%;
    display: grid;
    grid-template-columns: auto auto;

    
}
li{
    list-style: none;
    padding: 0 50px;
    font-weight: 700;
    font-size: 16px;
    

}

.item {
    color: rgb(46, 46, 46);
    text-decoration: none;
    font-weight: 700;
}

.item:hover {
    color: #774872;
}