.property-card{
    padding: 10px;
    margin: 5px;
    background-color: #fff;
}
.card-img {
    background-color: #eceef1;
    text-align: center;
    padding: 30px 0;
}
.card-img img {
    height: 40px;
    filter: invert(29%) sepia(72%) saturate(341%) hue-rotate(256deg) brightness(92%) contrast(85%);

}
.italics{
    font-style: italic;
}
.btn{
    width: 100%;
    padding: 7px 0;
    background-color: #774872;
    background-color: #774872;
    color: #fff;
    border: none;


}
.icons{
    color: aliceblue;

}

p{
    font-size: 15px;
    margin: 0.5rem 0;
}
h4{
    margin: 0.8rem 0;
}
.save-btn{
    background-color: #2fff90fe;
    width: 100%;
    border: none;
    padding: 7px 0;
    margin: 5px 0;
    color: #fff;
}