.side-bar{
    margin-top: 1px;
    width: 14vw;
    background-color: #ffffff;
    height: 120vh;
    padding: 10px 20px;
    position: fixed;
    top: 70px;
    z-index:100;
    
}
h4{
    
    color: rgb(49, 49, 49);
}
a{
    display: block;
    text-decoration: none;
    color: rgb(79, 79, 79);
    margin-top: 7px;
    font-weight: 500;

    
}
.side-bar input {
    width: 91%;
    border-radius: 2px;
}
.side-bar button{
    position: absolute;
    top: 15px;
    right: 18px;
    height: 29px;
    padding: 7px 8px;
    background-color: #774872;
    border: 1px solid #774872;
    
}
.icon {
    color: #ffffff;
}